.korbenFav {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  text-align: right;
  font-size: 35px;
  user-select: none;
  cursor: pointer;
  z-index: 100;
}
.korbenFav:hover {
  color: grey;
}

.toast {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f47b20;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 20 px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  max-width: 800px;
  width: auto;
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
